@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Fira+Code:wght@300&display=swap');

body {
    --body-bg: #FFD6F6;

    --body-headings-color: red;
    --cursor-color: white;

    --text-font: "EB Garamond", serif;
    --heading-font: "Fira Code";
    --code-font: "Fira Code";
    --page-text-color: black;

    --telomere-border: black;
    --telomere-unread: black;

    /*Tool*/
    --tool-text-color: black;
    --tool-light-color: black;
    --tool-color: black;
    --tool-bg: white;

    /*Navbar*/
    --navbar-bg: white;
    --navbar-icon-color: black;
    --navbar-icon-hovered-color: red;
    --navbar-link-color: black;
    --search-form-icon-color: black;
    --search-form-bg: transparent;

    --alpha: 0.25;

    /*Card*/
    --card-title-bg: black;
    --card-bg: white;
    --card-active-bg: #66ff00;
    --card-hover-bg: rgba(0, 0, 0, var(--alpha));
    --card-description-code-color: var(--code-color);
    --card-description-color: red;
    --card-description-link-color: red;
    --card-title-color: black;
    --card-backside: black;
    --card-title-bg-pinned: #66ff00;

    /*Page*/
    --page-bg: white;
    --page-text-color: black;
    --page-link-color: var(--page-text-color);
    --page-link-color-cursor-line: var(--page-text-color);
    --empty-page-link-color: #ff0044;
    --empty-page-link-hover-color: #252A30;
    --line-title-color: var(--page-text-color);

    /*Buttons*/
    --new-button-font: "EB Garamond";
    --new-button-hover-bg: rgba(255, 255, 255, var(--alpha));
    --new-button-bg: transparent;
    --new-button-horizontal-color: black;
    --new-button-vertical-color: black;

    --relation-label-links-bg: black;
    --relation-label-bg: black;
    --relation-label-empty-bg: white;

    --code-bg: var(--terminal-background);
    --code-color: var(--terminal-ansiBrightWhite);

    --card-description-link-color: currentColor;
    --card-description-color: #a2a2a2;

    /*Terminal*/
    --terminal-background: #000000;
    --terminal-foreground: #C0C5CE;
    --terminal-ansiBlack: #2B303B;
    --terminal-ansiBlue: #8FA1B3;
    --terminal-ansiBrightBlack: #65737E;
    --terminal-ansiBrightBlue: #8FA1B3;
    --terminal-ansiBrightCyan: #96B5B4;
    --terminal-ansiBrightGreen: #A3BE8C;
    --terminal-ansiBrightMagenta: #B48EAD;
    --terminal-ansiBrightRed: #BF616A;
    --terminal-ansiBrightWhite: #EFF1F5;
    --terminal-ansiBrightYellow: #EBCB8B;
    --terminal-ansiCyan: #96B5B4;
    --terminal-ansiGreen: #A3BE8C;
    --terminal-ansiMagenta: #B48EAD;
    --terminal-ansiRed: #BF616A;
    --terminal-ansiWhite: #C0C5CE;
    --terminal-ansiYellow: #EBCB8B;

    --gradient-data: rgba(255, 0, 100, 1) 0%, rgba(255, 100, 215, 1) 11%, rgba(255, 230, 240, 1) 21%, rgba(215, 255, 250, 1) 35%, rgba(215, 255, 240, 1) 44%, rgba(150, 255, 220, 1) 54%, rgba(175, 235, 235, 1) 63%, rgba(255, 230, 240, 1) 70%, rgba(255, 100, 215, 1) 82%, rgba(255, 0, 100, 1) 100%;

    --gradient-bg: linear-gradient(to right, var(--gradient-data));
    --grid-gap: 10px;

}

.navbar-brand::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: #252a30;
    background-image: url(https://daiiz-apps.appspot.com/today/jp.svg);
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
    .navbar-brand::before {
        background-color: #66ff00;
    }
}

@media (prefers-color-scheme: light) {
    .navbar-brand::before {
        background-color: #66ff00;
    }
}

.quick-launch .project-home .title:after {
    content: " ; by egmontas";
    opacity: .5;
}

.title {
    color: var(--page-text-color);
    font-family: var(--heading-font);
}

.editor {
    font-family: var(--text-font)
}

code,
.code-block {
    font-family: var(--code-font);
}

.tool-btn {
    font-family: var(--code-font);
}

.tool-btn:hover {
    color: #252A30 !important;
}

.dropdown-menu {
    font-family: var(--code-font), var(--heading-font);
    border-color: black;
}

.dropdown-menu .divider {
    background-color: black;
}

.grid li.page-list-item a {
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px black, inset 0 0 0 3px white, inset 0 0 0 4px #66ff00;
    height: 100%;
}

.grid li.page-list-item a:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    height: 10px;
    background: linear-gradient(to top, white, transparent);
    z-index: 10;
}

.grid li.page-list-item a .hover {
    border: 4px solid white;
    border-image-slice: 1;
    border-image-source: conic-gradient(from 0turn, var(--gradient-data));
    animation: link-bg-conic-anim 1s linear 0s infinite reverse;
}

@keyframes link-bg-conic-anim {
    0% {
        border-image-source: conic-gradient(from 0turn, var(--gradient-data));
    }

    10% {
        border-image-source: conic-gradient(from 0.1turn, var(--gradient-data));
    }

    20% {
        border-image-source: conic-gradient(from 0.2turn, var(--gradient-data));
    }

    30% {
        border-image-source: conic-gradient(from 0.3turn, var(--gradient-data));
    }

    40% {
        border-image-source: conic-gradient(from 0.4turn, var(--gradient-data));
    }

    50% {
        border-image-source: conic-gradient(from 0.5turn, var(--gradient-data));
    }

    60% {
        border-image-source: conic-gradient(from 0.6turn, var(--gradient-data));
    }

    70% {
        border-image-source: conic-gradient(from 0.7turn, var(--gradient-data));
    }

    80% {
        border-image-source: conic-gradient(from 0.8turn, var(--gradient-data));
    }

    90% {
        border-image-source: conic-gradient(from 0.9turn, var(--gradient-data));
    }

    100% {
        border-image-source: conic-gradient(from 1turn, var(--gradient-data));
    }
}

/* Dots */
.grid li.relation-label.empty-links a {
    background-image: linear-gradient(to right, white 75%, transparent 75%), linear-gradient(to bottom, white 75%, transparent 75%);
    background-size: 4px 4px;
    background-color: black;
}

.grid li.relation-label.empty-links .arrow {
    border-left-color: black;
}

.grid li.relation-label.empty-links a :is(.title, .icon-lg) {
    color: black;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
}

.search-form .form-group input {
    border-radius: 100px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
}

.search-form .form-group input:focus {
    box-shadow: 0 0 0 1px black, inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-form .form-group .button-container {
    right: 4px;
}